*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background: linear-gradient(to right, #00AAFF, #00ff6c); */
    /* background-image: url("./images/ShuAndYulie.jpg"); */
    animation: shu-and-yulie 20s infinite ease-in-out;
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
    background-color: rgba(255,255,255,.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

@keyframes rick-and-morty{
    50%{
        background-image: url("./images/peaceful_rick.jpg");
        transition: cubic-bezier(1, 0, 0, 1);
    }
    100%{
        background-image: url("./images/breaking_morty.jpg");
    }
    }

    @keyframes shu-and-yulie{
        
        0%{
            background-image: url("./images/IMG_20220918_110152.jpg");
            background-size: 750px;
        }
        25%{
            background-image: url("./images/ShuAndYulie.jpg");
            background-size: 750px;
        }
        50%{
            background-image: url("./images/IMG_20220604_195620__01__01.jpg");
            background-size: 750px;
        }
        75%{
            background-image: url("./images/IMG_20220917_192915.jpg");
            background-size: 750px;
        }
        100%{
            background-image: url("./images/IMG_20221220_151332.jpg");
            background-size: 750px;
        }
    }